<div class="container">
	<div class="row" ng-if="myInfo.dispMessage">
	Not Signed Up Yet. <a ui-sref="signUp">Sign up Now!</a>
	</div>
<div class="row" ng-if="!myInfo.dispMessage">
<div class="panel-body">Name : {{myInfo.User.firstName  + " " + myInfo.User.lastName }}</div>
<div class="panel-body">Email : {{myInfo.User.email}}</div>
<div class="panel-body">Phone : {{myInfo.User.phone}}</div>
<div class="panel-body">Favourite Menu :</div>
<div class="row">
<menu-item menu-item="myInfo.User.favMenu"></menu-item>
</div>
</div>	
</div>
