<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .error { color:red;}
      .noerror {color:green;}
      .errorbg{ border-color:red;}
      .noerrorbg{border-color:green;}
      .bg{border-color:all;}
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control {{messageClass}}bg" ng-model="menulist" ng-click="resetAll()">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunchItem()">Check If Too Much</button>
         </div>
         <div class="{{messageClass}} form-group message">
          {{ message }}
         </div>
   </div>

</body>
</html>
