<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js" > </script>
    <script src="app.js" > </script>
    </head>
<body ng-app="NarrowItDownApp">
   <div ng-controller="NarrowItDownController as narrowC">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
<div class="form-group">
    <div class="form-group" >
      <input type="text" placeholder="search term" class="form-control" ng-model="searchTerm" ng-click="narrowC.resetAll()">
    </div>
    <div class="form-group">
<button class="btn btn-primary" ng-click="narrowC.getMatchedMenuItems(searchTerm);">Narrow It Down For Me!</button>
</div>
    </div>
 <found-items found-item="narrowC.found" on-remove="narrowC.removeItem(index)"></found-items>
  <div class="alert alert-danger" ng-if="narrowC.errorMsg.length >0"> {{narrowC.errorMsg}}</div>
  </div>

</body>
</html>
